
  .card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    justify-items: center;
  }
  .articleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
  width:20%;
}



/*laptop size*/
@media screen and (min-width: 1024px) {
  .card-grid {
    grid-template-columns: repeat(5, 1fr);
  }
} 